@import "../../style.scss";

.posts-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .posts{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}


