@import "../../style.scss";

.notif-card-container{
    position: relative;
    .notifs {
        @include themify($themes){
            background-color: themed("bg");
            border: 1px solid black;
            color: themed("textColor");
            display: flex;
            justify-content: center;
            align-items: center;
            width: 400px;
            height: 250px;
    
            
        }
        
    }

    .button-container{
        position: absolute;
        display: flex;;
        justify-content: center;
        align-items: center;
        position: absolute;
        //right: 50px;
        //top: 50px;
        left: 140px;
        bottom: 75px;
        button {
            background-color: blue;
            border: 0;
            border-radius: 5px;;
            color: white;
            cursor: pointer;
            height: 25px;
            margin: 5px;
            width: 50px;
            
        }
    }
    
}
