@import "../../style.scss";

.post-container{
    @include themify($themes){
        background-color: themed("bgSoft");
        display: flex;
        justify-content: center;
        height: 100vh;
        align-items: center;
    }
}

.post-card{
    @include themify($themes){
        background-color: themed("bg");
        border: none;
        border-radius: 20px;
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        color: themed("textColor");
        height: 400px;
        width: 400px;
        padding: 20px;
    }
}