@import "../../style.scss";

.navbar-container {
    @include themify($themes){
        border-bottom: 2px solid themed("borderColor");
        color: themed("textColor");
        display: flex;
        align-items: center;
        background-color: themed("bg");
        height: 70px;
        justify-content: space-between;
        position: sticky;
        top: 0;
        .logo{
            span{
                margin: 0px 20px;
                font-size: 3rem;
                color: themed("textColor");
                cursor: pointer;
            }
        }
        ul{
            //border: 2px solid black;
            color: white;
            display: flex;
            list-style-type: none;
            margin: 0px 5px;
            li{
                color: themed("textColor");
                cursor: pointer;
                margin: 0px 5px;
            }
            li:hover{
                border-bottom: 1.8px solid themed("textColor");
            }
        }
    }
    
}